body {
  color: black;
  background-color: white;

  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.container {
  padding: 40px;
}

@font-face {
  font-family: "Pinyon Script";
  src: url('/fonts/PinyonScript/PinyonScript-Regular.ttf');
}
.brand {
  font-family: "Pinyon Script", cursive;
  font-size: 70px;
  text-align: center;
  margin-top: 10px;
}

.signup-para {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #999
}
