body {
  color: black;
  background-color: white;

  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;

  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 40px;
}

@font-face {
  font-family: "Pinyon Script";
  src: url('/fonts/PinyonScript/PinyonScript-Regular.ttf');
}

.brand {
  font-family: "Pinyon Script", cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 29px;
}

.signup-text {
  font-size: 17px;
  line-height: 20px;
}

.signup-text,
.policy-text {
  text-align: center;
  color: #999;
}

.policy-text,
.extrainfo,
.anchorextra {
  font-size: 14px;
  line-height: 15px;
}

.anchortext {
  font-weight: bold;
  color: #999;
}

.btn-primary {
  line-height: 26px;
  font-size: 14px;
  font-weight: 600;

  padding: 0 8px;
  width: 100%;

  background: #3897f0;
  background-color: #3897f0;
  color: #fff;

  border-radius: 3px;
  border: 1px solid;

  outline: none;
}

.btn-signup {
  margin-top: 7px;
}

.or-line {
  display: flex;
  margin-bottom: 17px;
}
.or-line-hr {
  margin-top: 25px;
  border: 0;
  border-top: 1px solid #c7c7c7;
  width: 100%;
}
.or-line-span {
  display: inline-block;
  margin: 18px 20px 0;
  color: #999
}

.input-field {
  border: 1px solid #dbdbdb;
  border-radius: 3px;

  box-sizing: border-box;
  padding: 9px 8px 7px;
  margin-bottom: 5px;
  width: 100%;

  color: #262626;
  font-size: 13px;

  outline: none;
}

.extrainfo {
  text-align: center;
  color: #262626;
  margin-top: 92px;
}

.anchorextra {
  color: #3897f0;
}

.gettheapp {
   margin-top:45px;
 }

.store-btn {
   height: 136px;
   width: 42px;
 }
